{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "printWidth": 100,
    "tabWidth": 2,
    "endOfLine": "auto",
    "jsxBracketSameLine": false
  }