.header {
  padding: 10px 15px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 480px) {
  .header {
    padding: 8px 10px;
    margin-bottom: 12px;
    justify-content: center;
  }
}

.buttonWrapper {
  display: flex;
  gap: 8px;
}

@media (max-width: 480px) {
  .buttonWrapper {
    width: 100%;
    justify-content: center;
  }
}

.active {
  background-color: #4caf50 !important;
  color: white !important;
}
