body, html {
  width: 100%; 
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  background-color: #242424;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}